<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/JavaPtr/kodilla-eBookAppFrontEndTest/kodilla-eBookApp-Selenium/src/test/java/com/kodilla/Chrome/CH70xItemTestSuite.java">
        <classes>
            <class name="com.kodilla.Chrome.CH70xItemTestSuite">
                <methods>
                    <include name="t701shouldAddItemCorrect"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>